#leaderboardBtn {
    background-color: #0033A0;
    color: white;
    float: right;
    margin: 10px;
}

#leaderboardBtn:hover {
    background-color: #002080
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
}